<div class="activity-box">
  <span>{{ activity?.id }}</span>

  <h6 class="activity-title">{{ activity?.title }}</h6>

  <div>
    <div>
      <span>Duracion</span>
      <span>{{ activity?.duration }}</span>
    </div>
    <div>
      <span>Precio</span>
      <span>{{ activity?.price }}</span>
    </div>
  </div>

  <div></div>

  <div class="activity-details">
    <div>
      <span>Participantes</span>

      <div class="member-list">
        @for (member of getMembers(); track member.id) {
        <label class="member-item">
          <input
            type="checkbox"
            class="check"
            [checked]="selectedMembers.includes(member.id)"
            (change)="toggleSelection(member.id)"
          />
          <span class="name">{{ member.first_name }}</span>
        </label>
        }
      </div>
    </div>

    <div>
      <span>Notas</span>
      <div class="input-wrapper">
        <textarea type="text" formControlName="description" required></textarea>
        <span class="focus-bg"></span>
      </div>
    </div>
  </div>

  <div class="activity-requirements">
    <h6 class="activity-subtitle">Requerimientos</h6>
    <div>
      <p></p>
    </div>
  </div>

  <div class="activity-cost-summary">
    <div class="activity-prices-container">
      <div class="activity-prices">
        <h6>Costo por persona</h6>
        <span>{{ activity?.price }}</span>
      </div>

      <div class="activity-prices">
        <h6>Costo total por actividad</h6>
        <span>0.0</span>
      </div>
    </div>
    <div class="activity-actions-buttons">
      <button class="secondary-button">Cancelar</button>

      <button class="primary-button">Confirmar actividad</button>
    </div>
  </div>
</div>
