<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <mat-icon aria-hidden="false" fontIcon="dashboard"></mat-icon>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" fontIcon="storefront"></mat-icon>
        <a routerLink="/servicios">Servicios</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" fontIcon="monitoring"></mat-icon>
        <a routerLink="/servicios">Reportes</a>
      </li>
    </ul>
  </nav>
</div>
