<div class="service-card" [class.inactive]="">
  @if (coverImage) {
  <div class="card-image-container">
    <img [src]="coverImage" [alt]="service.title" class="card-image" />
  </div>
  }

  <div class="card-content">
    <!-- Título y duración -->
    <div class="card-header">
      <h3 class="card-title">{{ service.title }}</h3>
      <span class="duration-badge">{{ service.type }}</span>
    </div>

    <!-- Resumen -->
    <p class="card-summary">{{ service.summary }}</p>

    <!-- Precios -->
    <!-- <div class="pricing-section">
      <div class="price-breakdown">
        <div class="price-item">
          <span>Proveedor:</span>
          <span>${{ service.feeSupplier }}</span>
        </div>
        <div class="price-item">
          <span>Comisión servicio:</span>
          <span>${{ service.commissionByService }}</span>
        </div>
        <div class="price-item">
          <span>Comisión card:</span>
          <span>${{ service.commissionCard }}</span>
        </div>
      </div>
      <div class="total-price">
        <span>Total: ${{ totalPrice }}</span>
      </div>
    </div> -->

    <!-- Botón de acción -->
    <div class="card-actions">
      <button class="action-button" (click)="viewDetails(service.id)">
        Ver detalles
      </button>
    </div>
  </div>
</div>
